@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollBarHide::-webkit-scrollbar {
  display: none;
}

/* .banner {
  background-image: url("./public/banner.jpg");
  background-size: cover;
  background-position: center;
} */
/* body {
    background-image: url("https://i.ibb.co/Lt3Jb5D/bannerBg.jpg");
  }  */
@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 30s linear infinite; /* 30s for slower rotation */
}
